.text-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-big h1 {
    font-size: var(--en-size);
    font-weight: bold;
    background: linear-gradient(90deg, rgba(68, 68, 68, .6) 0%, #444 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}
.text-big h3 {
    position: relative;
    color: var(--accent4);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: var(--medium-size);
    font-weight: 400;
    display: flex;
    align-items: center;
}
.text-big h3::before {
    content: '';
    position: absolute;
    left: -12px;
    width: 8px;
    height: 8px;
    background: var(--main);
    border-radius: 50%;
}

.text-big h4 {
    color: var(--accent4);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: var(--medium-size);
    font-weight: 400;
}