.botao {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: aliceblue;
    background: dodgerblue;
    cursor: pointer;
}
.botao:hover {
    background: skyblue;
}