:root {
    --main: #0070F3;
    --main-opc: #0071f389;
    --accent1: #111111;
    --accent2: #333333;
    --accent3: #444444;
    --accent4: #666666;
    --neutral1: #D9D9D9;
    --neutral2: #EAEAEA;
    --neutral3: #FAFAFA;
    --warning: #F20000;
    --success: #05F200;
    --en-size: 64px;
    --big-size: 36px;
    --normal-size: 20px;
    --normal-x-size: 18px;
    --medium-size: 14px;
    --small-size: 12px;
    --small-x-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box!important;
    font-family: 'Inter', sans-serif
}