.widget {
    max-width: 600px;
    padding: 24px 48px;
    border-radius: 4px;
    border: 1px dashed var(--neutral1);
}
.widget h5 {
    font-weight: 500;
    color: var(--accent1);
    font-size: var(--normal-size);
    margin-bottom: 8px;
}
.widget p {
    font-weight: 500;
    color: var(--accent4);
    font-size: var(--medium-size);
}