.blog-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 12px 24px;
}
.blog-navbar input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid var(--neutral2);
    box-sizing: border-box;
    outline: none;
}
.blog-navbar input:focus {
    border: 1px solid var(--main-opc);
}
.blog-navbar .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.blog-navbar img {
    border-radius: 8px;
    border: 1px solid var(--neutral1)
}
.blog-navbar .top div {
    display: flex;
    flex-direction: column;
}
.blog-navbar .top h5 {
    font-weight: 600;
    color: var(--accent3);
    font-size: var(--normal-x-size);
}
.blog-navbar .top p {
    color: var(--accent4);
    font-size: var(--small-size);
}
.blog-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}