.header {
    grid-row: 1/2;
    position: relative;;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 12px;
}
.header h4 {
    position: absolute;
    left: -32px;
    color: rgb(55 65 81);
    padding: 8px 32px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background: rgb(229, 231, 235);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.header p {
    position: absolute;
    right: 0;
    color: rgb(55 65 81);
    font-size: 12px;
    /* font-weight: 500; */
}
@media (max-width: 425px) {
    .header p {
        left: 0;
        top: 56px;
    }
}