.subnavbar {}
.subnavbar h5.first {
    margin-top: 0;
}
.subnavbar h5 {
    font-weight: 600;
    font-size: var(--medium-size);
    margin: 10px 0;
}
.subnavbar a {
    text-decoration: none;
}